In [1]:
%autosave 0

Autosave disabled

In [98]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scipy import stats
from prepare import train_val_test
from sklearn.preprocessing import MinMaxScaler

In [3]:
filepath = 'icr-identify-age-related-conditions/train.csv'

In [4]:
df = pd.read_csv(filepath)
df.head()

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,Class
0,000ff2bfdfe9,0.209377,3109.03329,85.200147,22.394407,8.138688,0.699861,0.025578,9.812214,5.555634,...,7.298162,1.73855,0.094822,11.339138,72.611063,2003.810319,22.136229,69.834944,0.120343,1
1,007255e47698,0.145282,978.76416,85.200147,36.968889,8.138688,3.632190,0.025578,13.517790,1.229900,...,0.173229,0.49706,0.568932,9.292698,72.611063,27981.562750,29.135430,32.131996,21.978000,0
2,013f2bd269f5,0.470030,2635.10654,85.200147,32.360553,8.138688,6.732840,0.025578,12.824570,1.229900,...,7.709560,0.97556,1.198821,37.077772,88.609437,13676.957810,28.022851,35.192676,0.196941,0
3,043ac50845d5,0.252107,3819.65177,120.201618,77.112203,8.138688,3.685344,0.025578,11.053708,1.229900,...,6.122162,0.49706,0.284466,18.529584,82.416803,2094.262452,39.948656,90.493248,0.155829,0
4,044fb8a146ec,0.380297,3733.04844,85.200147,14.103738,8.138688,3.942255,0.054810,3.396778,102.151980,...,8.153058,48.50134,0.121914,16.408728,146.109943,8524.370502,45.381316,36.262628,0.096614,1

In [5]:
df = df.rename(columns = {'Class': 'target'})
df.columns

Index(['Id', 'AB', 'AF', 'AH', 'AM', 'AR', 'AX', 'AY', 'AZ', 'BC', 'BD ', 'BN',
       'BP', 'BQ', 'BR', 'BZ', 'CB', 'CC', 'CD ', 'CF', 'CH', 'CL', 'CR', 'CS',
       'CU', 'CW ', 'DA', 'DE', 'DF', 'DH', 'DI', 'DL', 'DN', 'DU', 'DV', 'DY',
       'EB', 'EE', 'EG', 'EH', 'EJ', 'EL', 'EP', 'EU', 'FC', 'FD ', 'FE', 'FI',
       'FL', 'FR', 'FS', 'GB', 'GE', 'GF', 'GH', 'GI', 'GL', 'target'],
      dtype='object')

In [20]:
df.target.value_counts()

0    509
1    108
Name: target, dtype: int64

In [26]:
df.isna().sum()

Id         0
AB         0
AF         0
AH         0
AM         0
AR         0
AX         0
AY         0
AZ         0
BC         0
BD         0
BN         0
BP         0
BQ        60
BR         0
BZ         0
CB         2
CC         3
CD         0
CF         0
CH         0
CL         0
CR         0
CS         0
CU         0
CW         0
DA         0
DE         0
DF         0
DH         0
DI         0
DL         0
DN         0
DU         1
DV         0
DY         0
EB         0
EE         0
EG         0
EH         0
EJ         0
EL        60
EP         0
EU         0
FC         1
FD         0
FE         0
FI         0
FL         1
FR         0
FS         2
GB         0
GE         0
GF         0
GH         0
GI         0
GL         1
target     0
dtype: int64

In [6]:
train, val, test = train_val_test(df)

In [27]:
train.isna().sum()

Id         0
AB         0
AF         0
AH         0
AM         0
AR         0
AX         0
AY         0
AZ         0
BC         0
BD         0
BN         0
BP         0
BQ        41
BR         0
BZ         0
CB         1
CC         2
CD         0
CF         0
CH         0
CL         0
CR         0
CS         0
CU         0
CW         0
DA         0
DE         0
DF         0
DH         0
DI         0
DL         0
DN         0
DU         1
DV         0
DY         0
EB         0
EE         0
EG         0
EH         0
EJ         0
EL        41
EP         0
EU         0
FC         1
FD         0
FE         0
FI         0
FL         1
FR         0
FS         2
GB         0
GE         0
GF         0
GH         0
GI         0
GL         1
target     0
dtype: int64

I will investigate these columns with null values one at a time.

In [ ]:
train.DY.fillna(

473    23.205672
20     96.910408
372    25.191136
274    22.751980
177    36.533436
         ...
169    39.623932
200    51.237998
450    20.227476
606    19.221268
149    20.047796
Name: DY, Length: 431, dtype: float64

In [29]:
train[train.BQ.isna()].target.value_counts()

0    41
Name: target, dtype: int64

All null values in BQ are associated with a negative outcome. I will fill all null values in this column with the median for values in this column associated with the negative outcome.

In [41]:
train.BQ = train.BQ.fillna(train[train.target == 0].BQ.median())

In [42]:
train[train.CB.isna()]

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,target
114,2e4e80b95e24,0.17092,1963.6485,85.200147,22.574033,8.138688,2.595687,0.029232,3.396778,1.2299,...,0.173229,1.0962,0.06773,25.636312,198.14662,6926.005926,25.287916,73.265992,21.978,0

Not much to learn here, I'll just impute the median of the column.

In [44]:
train.CB = train.CB.fillna(train.CB.median())

In [45]:
train[train.CC.isna()]

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,target
114,2e4e80b95e24,0.170920,1963.64850,85.200147,22.574033,8.138688,2.595687,0.029232,3.396778,1.229900,...,0.173229,1.09620,0.06773,25.636312,198.146620,6926.005926,25.287916,73.265992,21.978,0
330,81015c6c3404,6.161666,18964.47278,210.557493,85.393581,8.138688,17.983770,0.032886,8.866914,6.767964,...,0.173229,54.94862,NaN,31.636102,296.036174,12261.844150,49.586046,39.457052,21.978,1

It has one positive and negative result associated with the null values. I'll go ahead and impute the median for the entire column.

In [46]:
train.CC = train.CC.fillna(train.CC.median())

In [47]:
train[train.DU.isna()]

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,target
594,f46e39a96ee9,0.670861,5501.73569,93.822057,6.993026,8.138688,6.511365,0.025578,9.541228,1.2299,...,NaN,0.49706,0.731484,37.310322,143.490662,1849.552461,31.371751,10.04366,NaN,0

Only one value, I'll go ahead and impute the median for all values.

In [48]:
train.DU = train.DU.fillna(train.DU.median())

In [52]:
train[train.EL.isna()]

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,target
177,4537a9a3ecde,0.452938,2379.68401,92.472162,41.992223,8.138688,7.220085,0.025578,6.302000,1.229900,...,2.811204,0.49706,0.067730,11.599594,72.611063,762.097329,52.670755,10.840980,0.068062,0
579,efcba7fac353,0.405935,5576.23055,91.723188,19.473936,8.138688,10.816839,0.066685,10.202938,2.920134,...,2.932309,0.49706,0.250601,13.571618,243.025549,4421.799072,42.728243,29.952226,0.172055,0
305,7a5c4b008308,0.414481,2028.57468,100.127373,9.798908,8.138688,8.500210,0.060595,7.719950,2.712808,...,8.456270,0.49706,0.067730,35.775492,139.349725,2605.661784,34.143896,11.847918,0.111028,0
603,f96e7ca4a16c,0.662315,1704.39874,123.807144,68.353887,8.138688,5.563452,0.104139,6.736838,1.229900,...,5.781491,1.56600,0.067730,12.073996,72.611063,2369.417670,19.367805,25.591400,0.130680,0
537,d9d5fdfa030c,0.363205,1258.32256,85.200147,24.165891,8.138688,5.669760,0.025578,10.448716,1.229900,...,5.418528,1.95112,0.839852,29.329206,72.611063,9786.129534,24.160453,31.712760,0.102600,0
583,f12d8570682a,0.282018,4226.17426,91.392246,13.704225,8.138688,4.916745,0.025578,9.415188,1.229900,...,4.874422,1.76204,0.386061,12.660022,72.611063,2118.717486,20.714807,29.786332,0.069164,0
264,6850ef5b0092,0.461484,2184.24239,128.170353,12.790610,8.138688,7.671894,0.031973,6.755744,2.540622,...,8.864238,1.24352,0.182871,27.087424,215.072564,2368.894977,36.052769,5.546518,0.099000,0
375,91275f6ae0a2,0.474303,2465.48390,160.306563,14.608549,11.636436,4.128294,0.112056,6.144450,6.290060,...,5.170251,1.19712,0.629889,14.697160,72.611063,3754.632852,26.705617,49.400404,0.130935,0
235,5e27b0147126,0.354659,4825.98336,132.350673,14.741720,8.138688,4.225743,0.025578,9.944556,1.229900,...,4.154209,0.49706,0.067730,41.914812,126.767900,407.989224,21.261794,34.495664,0.132420,0
289,73468ffe1cb5,0.196558,3807.68971,85.200147,11.353602,8.138688,7.525721,0.042630,8.992954,1.229900,...,6.710646,0.49706,0.067730,12.446076,260.053084,4316.090427,39.677023,13.694614,0.117818,0
15,07760b4cf3f8,0.666588,3657.78160,304.283751,75.418144,8.138688,12.818973,0.025578,8.167392,1.229900,...,67.872762,0.77720,0.582478,4.102182,72.611063,2218.449060,23.806958,35.843392,0.015231,0
507,cd5d5458c163,0.538398,3925.42513,176.505303,37.256910,8.138688,7.069482,0.025578,15.124800,1.229900,...,8.275406,0.72848,1.022723,32.715134,114.890587,31583.309000,50.170243,29.752896,0.213379,0
231,5d547eb551a9,0.358932,2975.21818,132.881922,23.335895,8.364180,7.760484,0.067599,11.526358,3.767008,...,10.166071,1.57412,0.067730,30.901244,72.611063,862.299108,28.670305,34.181880,0.068629,0
233,5d8a1a0fb062,0.341840,5198.94892,85.200147,89.209085,8.138688,9.487989,0.025578,5.098318,6.486844,...,7.536000,0.98194,0.426699,13.422786,72.611063,6844.557672,21.124117,17.026640,0.098664,0
615,fe1942975e40,0.363205,1263.53524,85.200147,23.685856,8.138688,7.981959,0.025578,7.524588,1.229900,...,9.256996,0.78764,0.670527,24.594488,72.611063,1965.343176,25.116750,37.155112,0.184622,0
492,c6c3a77ec885,0.589674,5782.60210,124.660626,34.311663,8.138688,12.393741,0.025578,11.526358,1.229900,...,3.889259,0.49706,0.067730,30.491956,142.216357,558.039294,32.127114,5.280316,0.021405,0
263,684d62aeae9e,0.282018,4374.06530,116.326113,46.993878,8.138688,7.104918,0.057246,8.602230,1.229900,...,7.795305,0.49706,0.067730,27.589732,72.611063,7069.258800,34.315062,34.930332,0.169714,0
364,8d7f231c9cb7,0.333294,2950.68664,153.435162,14.221424,8.138688,11.995086,0.025578,12.200672,1.229900,...,1.170965,0.49706,0.501202,20.724856,127.591671,7359.279057,32.547587,4.436700,0.177058,0
582,f0d7d98bfe21,0.367478,3077.07598,324.349287,37.814370,28.689924,6.803712,0.025578,10.121012,1.229900,...,5.372854,0.97150,0.399607,25.803748,151.900630,8899.331652,31.929901,42.134504,0.146466,0
166,41475fa34ab3,0.269199,2045.32350,93.473697,23.143881,8.138688,9.009603,0.025578,10.971782,1.229900,...,4.007733,0.49706,0.067730,15.673870,229.023659,2850.852915,32.934571,28.299716,0.053460,0
570,e9c343dc7736,0.190148,4376.46594,85.200147,13.411558,8.138688,4.996476,0.088305,3.396778,1.229900,...,0.296625,2.15064,0.067730,23.385228,72.611063,6023.124846,47.014835,21.422188,2.376000,0
516,d0ecfae80796,0.440119,975.50805,85.200147,121.197998,8.138688,4.978758,0.035322,3.396778,3.953250,...,8.080244,2.74891,0.988858,31.143096,72.611063,4999.158324,33.403417,8.258692,0.111170,1
304,79b44ed25c29,0.948606,6192.61907,99.857394,29.179934,8.138688,3.632190,0.025578,7.404850,7.920556,...,5.014797,1.04371,1.666158,17.264512,72.611063,3595.331772,35.583923,36.584128,0.131416,1
281,6ef1fe86ad00,0.585401,2487.50590,113.121201,149.318758,8.138688,8.017395,0.055419,6.295698,1.229900,...,5.933445,1.29804,0.555386,37.319624,72.611063,3586.155120,40.666809,35.509032,0.123750,0
369,8eefb589a7aa,0.405935,192.59328,85.200147,12.357030,8.138688,6.387339,0.025578,6.402832,1.229900,...,54.719291,0.87696,1.219140,9.525248,73.207358,2322.462780,26.221887,95.251448,0.019800,0
128,332a3850302f,0.529852,3287.77933,85.200147,22.632876,8.138688,8.726115,0.025578,15.238236,1.229900,...,4.949731,0.49706,0.501202,38.645159,117.233806,1577.712735,32.223860,40.028036,0.153621,0
330,81015c6c3404,6.161666,18964.47278,210.557493,85.393581,8.138688,17.983770,0.032886,8.866914,6.767964,...,0.173229,54.94862,NaN,31.636102,296.036174,12261.844150,49.586046,39.457052,21.978000,1
517,d10976c44b2b,0.316202,1624.69362,145.013559,14.147096,8.138688,7.206797,0.025578,11.400318,1.229900,...,3.423047,0.49706,0.257374,27.013008,134.912848,2407.388364,34.668557,10.711094,0.041250,0
46,1319c3883fff,0.243561,3316.81570,85.200147,13.406913,8.138688,3.809370,0.025578,10.505434,4.258968,...,17.726310,0.99586,0.291239,14.585536,160.164837,6209.544726,36.942088,33.093924,0.051333,0
279,6c6db7987cd5,0.354659,1821.33072,114.183699,108.692312,8.138688,4.296615,0.025578,7.486776,1.229900,...,1.225413,1.00398,0.067730,17.831934,103.918759,23672.744100,26.586545,51.882384,0.110512,0
283,7017fab77607,0.235015,3572.32172,85.200147,32.258352,8.138688,4.704129,0.073385,6.232678,1.229900,...,6.056783,0.49706,0.067730,19.459784,72.611063,2742.701391,31.129886,32.178292,0.180148,0
45,12d002d52230,1.491277,2434.32640,137.149332,124.242349,8.138688,4.730706,0.025578,4.487024,1.229900,...,9.126892,2.44238,0.067730,30.919848,72.611063,819.350802,20.156657,31.537864,0.027000,0
602,f955c0ed8895,0.350386,5431.63797,85.200147,11.607556,8.138688,7.565586,0.025578,10.269109,2.393034,...,4.764967,0.49706,0.704392,12.027486,212.210348,9146.473587,17.287766,30.712252,0.171600,0
64,1899e6e0d7d9,0.512760,3756.02392,85.200147,25.674130,8.138688,7.973100,0.025578,7.310320,1.229900,...,4.932888,0.86014,0.711165,12.036788,72.611063,2418.052176,43.892916,33.003904,0.126465,0
490,c5f4dc4ae7fb,0.474303,4877.54146,85.200147,34.996100,8.138688,5.864658,0.025578,3.396778,5.081244,...,20.986174,1.07764,0.535067,23.106168,72.611063,2497.724586,42.534751,19.323436,0.048712,1
341,860833bfe713,0.376024,2967.65810,85.200147,34.262111,8.138688,5.643183,0.025578,9.200920,1.229900,...,3.536792,1.65184,0.108368,21.041124,103.865755,4255.175916,36.796969,69.122500,0.143550,0
23,0cf6c827b8bb,0.371751,2354.54142,105.030540,5.150311,8.138688,10.409325,0.025578,11.526358,2.754976,...,4.648113,0.49706,0.866944,21.664358,198.469061,5987.708568,32.610844,15.019194,0.136552,0
266,6860e7cbccad,0.499941,4714.33666,103.454211,17.882078,8.138688,11.250930,0.025578,14.513506,1.229900,...,3.452708,0.49706,0.582478,22.264337,268.959964,13.038894,39.710512,70.796872,0.110000,0
471,bbb1066a9afd,0.264926,1390.03590,85.200147,11.601362,10.217934,5.660901,0.074907,3.396778,3.113404,...,31.251519,1.13593,0.067730,22.966638,72.611063,4646.471769,23.356717,46.537768,0.062450,1
573,eada36b0bf31,0.337567,3440.63258,99.186801,31.000970,19.748904,7.849074,0.025578,7.801876,1.229900,...,5.097005,0.49706,0.067730,16.315708,110.632599,7444.066860,16.111930,76.509284,0.257400,0
8,0594b00fb30a,0.346113,3238.43674,85.200147,28.888816,8.138688,4.021986,0.025578,8.243016,3.626448,...,4.762291,1.18262,0.067730,17.245908,147.218610,4589.611956,29.771721,54.675576,0.073416,0

In [50]:
train[train.EL.isna()].target.value_counts()

0    36
1     5
Name: target, dtype: int64

The proportion of negative to positive outcome roughly matches the proportion of labels in my dataset. I'll move forward imputing the median for the entire column.

In [54]:
train[train.EL.isna()][['EL', 'BQ', 'target']]

     EL          BQ  target
177 NaN   56.023130       0
579 NaN   56.023130       0
305 NaN   56.023130       0
603 NaN   56.023130       0
537 NaN   56.023130       0
583 NaN   56.023130       0
264 NaN   56.023130       0
375 NaN   56.023130       0
235 NaN   56.023130       0
289 NaN   56.023130       0
15  NaN   56.023130       0
507 NaN   56.023130       0
231 NaN   56.023130       0
233 NaN   56.023130       0
615 NaN   56.023130       0
492 NaN   56.023130       0
263 NaN   56.023130       0
364 NaN   56.023130       0
582 NaN   56.023130       0
166 NaN   56.023130       0
570 NaN   56.023130       0
516 NaN  178.906190       1
304 NaN   55.832965       1
281 NaN   56.023130       0
369 NaN   56.023130       0
128 NaN   56.023130       0
330 NaN  344.644105       1
517 NaN   56.023130       0
46  NaN   56.023130       0
279 NaN   56.023130       0
283 NaN   56.023130       0
45  NaN   56.023130       0
602 NaN   56.023130       0
64  NaN   56.023130       0
490 NaN  344.644105       1
341 NaN   56.023130       0
23  NaN   56.023130       0
266 NaN   56.023130       0
471 NaN    9.492620       1
573 NaN   56.023130       0
8   NaN   56.023130       0

Interestingly, it looks like where there are NaNs in my EL column, the BQ column has an effect on the target. Where I imputed the median for BQ, it's 0. Where the BQ varies from the imputed values, the target is 1. EL being null doesn't have much impact on my target.

In [55]:
train.EL = train.EL.fillna(train.EL.median())

In [56]:
train[train.FC.isna()]

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,target
330,81015c6c3404,6.161666,18964.47278,210.557493,85.393581,8.138688,17.98377,0.032886,8.866914,6.767964,...,0.173229,54.94862,NaN,31.636102,296.036174,12261.84415,49.586046,39.457052,21.978,1

Since there is only one missing value for FC, and it's associated with a target of 1, I think I'd better be safe and impute the median for the entire column. There isn't enough information here for me to draw a more meaningful conclusion.

In [59]:
train.FC = train.FC.fillna(train.FC.median())

I think at this point, I will continue my trend of imputing the median for all train values for all columns except BQ. With BQ, since all null values were associated with a negative result, I will impute the median for BQ values for negative results only.

In [69]:
train.isna().sum()

Id        0
AB        0
AF        0
AH        0
AM        0
AR        0
AX        0
AY        0
AZ        0
BC        0
BD        0
BN        0
BP        0
BQ        0
BR        0
BZ        0
CB        0
CC        0
CD        0
CF        0
CH        0
CL        0
CR        0
CS        0
CU        0
CW        0
DA        0
DE        0
DF        0
DH        0
DI        0
DL        0
DN        0
DU        0
DV        0
DY        0
EB        0
EE        0
EG        0
EH        0
EJ        0
EL        0
EP        0
EU        0
FC        0
FD        0
FE        0
FI        0
FL        1
FR        0
FS        2
GB        0
GE        0
GF        0
GH        0
GI        0
GL        1
target    0
dtype: int64

In [70]:
for col in ['FL', 'FS', 'GL']:
    train[col] = train[col].fillna(train[col].median())
    
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 431 entries, 473 to 149
Data columns (total 58 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      431 non-null    object
 1   AB      431 non-null    float64
 2   AF      431 non-null    float64
 3   AH      431 non-null    float64
 4   AM      431 non-null    float64
 5   AR      431 non-null    float64
 6   AX      431 non-null    float64
 7   AY      431 non-null    float64
 8   AZ      431 non-null    float64
 9   BC      431 non-null    float64
 10  BD      431 non-null    float64
 11  BN      431 non-null    float64
 12  BP      431 non-null    float64
 13  BQ      431 non-null    float64
 14  BR      431 non-null    float64
 15  BZ      431 non-null    float64
 16  CB      431 non-null    float64
 17  CC      431 non-null    float64
 18  CD      431 non-null    float64
 19  CF      431 non-null    float64
 20  CH      431 non-null    float64
 21  CL      431 non-null    float64
 22  CR      431 non-null    float64
 23  CS      431 non-null    float64
 24  CU      431 non-null    float64
 25  CW      431 non-null    float64
 26  DA      431 non-null    float64
 27  DE      431 non-null    float64
 28  DF      431 non-null    float64
 29  DH      431 non-null    float64
 30  DI      431 non-null    float64
 31  DL      431 non-null    float64
 32  DN      431 non-null    float64
 33  DU      431 non-null    float64
 34  DV      431 non-null    float64
 35  DY      431 non-null    float64
 36  EB      431 non-null    float64
 37  EE      431 non-null    float64
 38  EG      431 non-null    float64
 39  EH      431 non-null    float64
 40  EJ      431 non-null    object
 41  EL      431 non-null    float64
 42  EP      431 non-null    float64
 43  EU      431 non-null    float64
 44  FC      431 non-null    float64
 45  FD      431 non-null    float64
 46  FE      431 non-null    float64
 47  FI      431 non-null    float64
 48  FL      431 non-null    float64
 49  FR      431 non-null    float64
 50  FS      431 non-null    float64
 51  GB      431 non-null    float64
 52  GE      431 non-null    float64
 53  GF      431 non-null    float64
 54  GH      431 non-null    float64
 55  GI      431 non-null    float64
 56  GL      431 non-null    float64
 57  target  431 non-null    int64
dtypes: float64(55), int64(1), object(2)
memory usage: 198.7+ KB

In [82]:
df.columns[df.isna().sum() > 0]

Index(['BQ', 'CB', 'CC', 'DU', 'EL', 'FC', 'FL', 'FS', 'GL'], dtype='object')

In [88]:
train = pd.get_dummies(train, columns = ['EJ'])

In [91]:
train.columns[1:-3]

Index(['AB', 'AF', 'AH', 'AM', 'AR', 'AX', 'AY', 'AZ', 'BC', 'BD ', 'BN', 'BP',
       'BQ', 'BR', 'BZ', 'CB', 'CC', 'CD ', 'CF', 'CH', 'CL', 'CR', 'CS', 'CU',
       'CW ', 'DA', 'DE', 'DF', 'DH', 'DI', 'DL', 'DN', 'DU', 'DV', 'DY', 'EB',
       'EE', 'EG', 'EH', 'EL', 'EP', 'EU', 'FC', 'FD ', 'FE', 'FI', 'FL', 'FR',
       'FS', 'GB', 'GE', 'GF', 'GH', 'GI', 'GL'],
      dtype='object')

In [94]:
ttest_df = pd.DataFrame(columns = ['col', 't_value', 'p_value'])

for col in train.columns[1:-3]:
    neg = train[train.target == 0][col]
    pos = train[train.target == 1][col]
    t, p = stats.ttest_ind(neg, pos)
    ttest_df.loc[len(ttest_df.index)] = [col, t, p]
                        
ttest_df.sort_values(by = 'p_value')

    col   t_value       p_value
1    AF -6.965655  1.235455e-11
12   BQ -6.855561  2.483764e-11
0    AB -6.174483  1.540739e-09
38   EH -6.030861  3.522812e-09
32   DU -5.583615  4.186441e-08
3    AM -5.464835  7.871872e-08
43  FD  -5.421286  9.895097e-08
29   DI -5.204437  3.022920e-07
21   CR  4.903929  1.335409e-06
25   DA  4.834877  1.859509e-06
46   FL -4.785620  2.349265e-06
10   BN -4.741614  2.890124e-06
17  CD  -4.338283  1.792304e-05
28   DH  4.282384  2.283598e-05
44   FE -3.721355  2.245255e-04
8    BC -3.718399  2.270855e-04
11   BP -3.617738  3.325788e-04
51   GF  3.318519  9.821308e-04
9   BD  -3.317733  9.848298e-04
36   EE  3.102383  2.046522e-03
26   DE  3.073025  2.254095e-03
35   EB -2.955342  3.295352e-03
54   GL  2.892324  4.018618e-03
30   DL  2.801499  5.316753e-03
14   BZ -2.785929  5.574102e-03
5    AX -2.781244  5.653709e-03
49   GB -2.767681  5.890022e-03
47   FR -2.522269  1.202089e-02
6    AY -2.148324  3.224722e-02
18   CF -2.050454  4.092730e-02
4    AR -2.017273  4.428939e-02
53   GI -1.907670  5.710136e-02
23   CU  1.673237  9.500957e-02
39   EL -1.525385  1.278999e-01
24  CW   1.426730  1.543851e-01
27   DF -1.401400  1.618174e-01
31   DN  1.286498  1.989633e-01
45   FI  1.274539  2.031623e-01
2    AH -1.222852  2.220571e-01
40   EP  1.025812  3.055581e-01
16   CC  0.809303  4.187897e-01
42   FC  0.763667  4.454855e-01
34   DY -0.741517  4.587860e-01
41   EU  0.726634  4.678463e-01
50   GE  0.687398  4.922032e-01
22   CS  0.618177  5.367866e-01
15   CB  0.599292  5.492947e-01
7    AZ -0.429673  6.676494e-01
19   CH -0.409983  6.820229e-01
33   DV -0.383977  7.011855e-01
20   CL  0.298848  7.652006e-01
37   EG  0.235288  8.140973e-01
48   FS  0.131299  8.956004e-01
13   BR  0.111531  9.112473e-01
52   GH -0.036141  9.711866e-01

In [97]:
train.head()

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FS,GB,GE,GF,GH,GI,GL,target,EJ_A,EJ_B
473,bbc27c1326a5,0.188012,1781.90892,85.200147,5.048110,8.269788,3.029778,0.025578,9.635758,1.229900,...,0.257374,15.850608,92.363887,21818.071870,29.455436,84.618800,21.978000,0,1,0
20,0cdf781c81b9,0.555490,6232.74146,85.200147,25.739167,8.138688,4.996476,0.025578,5.829350,1.229900,...,0.169325,31.110539,72.611063,487.145502,32.655496,99.189180,21.978000,0,1,0
372,9025eee0ab7d,0.213650,3648.05562,85.200147,9.284806,8.138688,7.211226,0.048111,3.396778,1.229900,...,0.352196,10.511260,131.472005,2076.648354,18.538022,21.018384,0.175443,0,0,1
274,6a2fa7569189,0.260653,5010.12842,85.200147,11.068678,8.138688,2.693136,0.025578,3.396778,2.438716,...,0.067730,18.371450,72.611063,2798.992584,17.767775,36.864476,0.100967,1,0,1
177,4537a9a3ecde,0.452938,2379.68401,92.472162,41.992223,8.138688,7.220085,0.025578,6.302000,1.229900,...,0.067730,11.599594,72.611063,762.097329,52.670755,10.840980,0.068062,0,0,1

I think at this point, I'm ready to scale my data and make an initial pass at modeling. With so many anonymized features, it's hard to engineer meaningful features. I'll use some models that perform feature selection for me.

In [100]:
train.columns[1:-3]

Index(['AB', 'AF', 'AH', 'AM', 'AR', 'AX', 'AY', 'AZ', 'BC', 'BD ', 'BN', 'BP',
       'BQ', 'BR', 'BZ', 'CB', 'CC', 'CD ', 'CF', 'CH', 'CL', 'CR', 'CS', 'CU',
       'CW ', 'DA', 'DE', 'DF', 'DH', 'DI', 'DL', 'DN', 'DU', 'DV', 'DY', 'EB',
       'EE', 'EG', 'EH', 'EL', 'EP', 'EU', 'FC', 'FD ', 'FE', 'FI', 'FL', 'FR',
       'FS', 'GB', 'GE', 'GF', 'GH', 'GI', 'GL'],
      dtype='object')

In [101]:
scaler = MinMaxScaler()

In [102]:
train.iloc[:, 1:-3] = scaler.fit_transform(train.iloc[:, 1:-3])
train.head()

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FS,GB,GE,GF,GH,GI,GL,target,EJ_A,EJ_B
473,bbc27c1326a5,0.016878,0.084665,0.000000,0.002982,0.000793,0.062014,0.00000,0.232832,0.000000,...,0.006059,0.089220,0.013864,0.151659,0.278953,0.439950,1.000000,0,1,0
20,0cdf781c81b9,0.077356,0.321766,0.000000,0.035964,0.000000,0.114360,0.00000,0.090781,0.000000,...,0.003246,0.205107,0.000000,0.003298,0.323536,0.516516,1.000000,0,1,0
372,9025eee0ab7d,0.021097,0.184077,0.000000,0.009735,0.000000,0.173308,0.00219,0.000000,0.000000,...,0.009089,0.048672,0.041313,0.014353,0.126853,0.105733,0.007932,0,0,1
274,6a2fa7569189,0.028833,0.256636,0.000000,0.012579,0.000000,0.053054,0.00000,0.000000,0.000827,...,0.000000,0.108364,0.000000,0.019377,0.116122,0.189004,0.004543,1,0,1
177,4537a9a3ecde,0.060478,0.116509,0.003985,0.061872,0.000000,0.173544,0.00000,0.108420,0.000000,...,0.000000,0.056937,0.000000,0.005210,0.602385,0.052252,0.003046,0,0,1

I will prepare a function that performs the same transformation on validate and test. Then, I should be ready to split off the X and y dataframes from each subset and begin modeing.